{{define "inicio"}}
{{template "cabecera"}}

<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Edad</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    {{range .}}
    <tr>
      <td scope="row">{{.Nombre}}</td>
      <td scope="row">{{.Id}}</td>
      <td>{{.Apellido}}</td>
      <td>{{.Edad}}</td>
      <td>
        <a href="/eliminar?id={{.Id}}">Eliminar</a>

      </td>
    </tr>
    {{end}}
  </tbody>
</table>
<script>
  function eliminarRegistro(id) {
    // Realiza una petición AJAX al servidor para eliminar el registro
    fetch("/eliminar?id=" + id, {
      method: "DELETE"
    })
      .then(function (response) {
        if (response.ok) {
          // Actualiza la tabla o realiza alguna acción adicional si es necesario
          console.log("Registro eliminado exitosamente");
        } else {
          console.log("Error al eliminar el registro");
        }
      })
      .catch(function (error) {
        console.log("Error:", error);
      });
  }
</script>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>
{{end}}





<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inicio</title>
</head>

<body>

</body>

</html>